<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<div class="container">
  <form [formGroup]="inputFrom" (ngSubmit)="onAddInputeTag(inputFrom.value)">
    <div class="container">
      <div class="form-group">
        <input
          name="formName"
          type="text"
          class="form-control"
          style="margin-top: 5px"
          id="FormName"
          formControlName="formName"
          placeholder="Form Name"
          (change)="formNameUniqueness(formName)"
        />
        <div
          style="margin-top: 5px"
          *ngIf="
            (formName?.invalid && (formName?.dirty || formName?.touched)) ||
            !formNameIsUnique
          "
          class="alert alert-danger"
          role="alert"
        >
          <div *ngIf="formName?.errors?.required">Form Name is required!</div>
          <div ngIF="!formNameIsUnique">formname must be unique!</div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputLabel">Label</label>
          <input
            name="inputLabel"
            type="text"
            formControlName="inputLabel"
            class="form-control"
            id="inputLabel"
            placeholder="Input Label"
          />
          <div
            style="margin-top: 5px"
            *ngIf="
              inputLabel?.invalid && (inputLabel?.dirty || inputLabel?.touched)
            "
            class="alert alert-danger"
            role="alert"
          >
            <div *ngIf="inputLabel?.errors?.required">Label is required!</div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="inputType">Type</label>

          <select
            formControlName="inputType"
            class="browser-default custom-select"
            name="inputType"
          >
            <option value="text" selected="">input text</option>
            <option value="radio">radio button</option>
            <option value="checkbox">check box</option>
            <option value="combobox">combo box</option>
            <option value="date">date</option>
            <option value="textarea">text Area</option>
          </select>
          <div
            style="margin-top: 5px"
            *ngIf="
              inputType?.invalid && (inputType?.dirty || inputType?.touched)
            "
            class="alert alert-danger"
            role="alert"
          >
            <div *ngIf="inputType?.errors?.required">Type is required!</div>
          </div>
        </div>
      </div>

      <div
        *ngIf="
          inputType?.value === 'radio' ||
          inputType?.value === 'checkbox' ||
          inputType?.value === 'combobox'
        "
        class="form-group"
      >
        <input
          placeholder="Add new value"
          class="form-control"
          type="text"
          name="inputVal"
          #inputVal
        />
        <div
          class="btn btn-success float-end m-2"
          (click)="onAddValueToTag(inputVal.value)"
        >
          Add
        </div>
        <div class="container" *ngIf="inputValue" style="margin-top: 40px">
          <ul class="list-group">
            <li *ngFor="let iv of inValues" class="list-group-item">
              Label: {{ iv.value }}
              <div
                class="btn btn-danger float-end m-2"
                (click)="onRemoveValue(iv)"
                style="margin-bottom: 40px"
              >
                Delete
              </div>
              <hr style="margin-top: 40px" />
            </li>
          </ul>
        </div>
      </div>
      <div class="form-group">
        <button
          [disabled]="inputLabel?.invalid || inputType?.invalid"
          type="submit"
          class="btn btn-success"
        >
          New
        </button>
      </div>
    </div>
  </form>
  <div class="container" *ngIf="tags">
    <ul class="list-group">
      <li *ngFor="let tag of tags; let i = index" class="list-group-item">
        priority : {{ i + 1 }}
        <input
          pattern="^[1-9][0-9]*$"
          (change)="onSwap(i, +swap.value)"
          type="text"
          #swap
        /><br />
        Label: {{ tag.value[0] }} <br />
        Type: {{ tag.value[1] }}
        <div (click)="onRemove(tag)" style="margin-bottom: 40px">
          <button type="submit" class="btn btn-danger float-right">
            delete
          </button>
        </div>
        <hr />
      </li>
    </ul>
  </div>
  <div
    *ngIf="!formName?.invalid && tagsLength !== 0 && formNameIsUnique"
    style="margin-top: 5px"
    class="col text-center"
  >
    <button
      type="submit"
      class="btn btn-primary btn-lg btn-block"
      (click)="onSave(formName)"
    >
      Save
    </button>
  </div>
</div>
