<div class="container float-start">
  <h1 *ngIf="formname !== undefined">form name :{{ formname }}</h1>
  <form>
    <div *ngFor="let tag of tags" class="form-group">
      <label for="tag.inputLabel">{{ tag.inputLabel }}</label>
      <input
        *ngIf="tag.inputType === 'text'"
        class="form-control"
        id="tag.inputLabel"
        type="{{ tag.inputType }}"
        name="tag.inputLabel"
      />
      <textarea
        *ngIf="tag.inputType === 'textarea'"
        class="form-control"
        name="tag.inputLabel"
        id="tag.inputLabel"
        cols="20"
        rows="10"
      ></textarea>
      <div *ngIf="tag.inputType === 'radio'">
        <div
          *ngFor="let value of tag.inputValue; let i = index"
          class="form-check"
        >
          <input
            class="form-check-input"
            type="radio"
            name="{{ tag.inputLabel }}"
            id="{{ tag.inputLabel }}"
          />
          <label class="form-check-label" for="{{ tag.inputLabel }}">
            {{ value.value }}
          </label>
        </div>
      </div>

      <div *ngIf="tag.inputType === 'checkbox'" class="form-group">
        <div *ngFor="let value of tag.inputValue" class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            name="{{ tag.inputLabel }}"
            id="{{ tag.inputLabel }}"
          />
          <label class="form-check-label" for="{{ tag.inputLabel }}">
            {{ value.value }}
          </label>
        </div>
      </div>

      <div *ngIf="tag.inputType === 'combobox'" class="form-group">
        <select class="form-select">
          <option
            *ngFor="let value of tag.inputValue"
            value="{{ value.value }}"
          >
            {{ value.value }}
          </option>
        </select>
      </div>
      <div *ngIf="tag.inputType === 'date'" class="form-group">
        <label for="{{ tag.inputLabel }}"> </label>
        <input id="{{ tag.inputLabel }}" type="date" />
      </div>
    </div>
  </form>
</div>
